@page "/weather"
@attribute [StreamRendering]
@using System.Timers

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<div style="display:grid;grid-template-columns:repeat(32,10px);grid-template-rows:repeat(32,10px);">
@for(int y=0;y<32;y++)
{
    for(int x=0;x<32;x++)
    {
        <div style="width:10px;height:10px;background-color:@ColorFor(values[x,y])"></div>
    }
}
</div>


@code {
    byte[,] values=new byte[32,32];
    System.Timers.Timer t;
    Random r=new();


    protected override void OnInitialized()
    {
        Fill();
        t=new(100);
        t.Elapsed+=(s,e)=>{ Fill(); InvokeAsync(StateHasChanged); };
        t.Start();
    }
    void Fill(){for(int y=0;y<32;y++)for(int x=0;x<32;x++)values[x,y]=(byte)r.Next(256);}
    
    string ColorFor(byte count)
    {
        double hue = 255 - (255.0 * count) / 255;
        return $"hsl({hue}deg 100% 50%)";
    }
}